*.bak
.idea/
mybatis-generator/
target/
*.iml
*.MF
*.DS_Store
.settings/
.setting/
test/
taotao-manager/taotao-manager-web/src/main/webapp/WEB-INF/JSP/test.jsp
taotao-manager/taotao-manager-web/src/main/webapp/WEB-INF/JSP/common/footer_offline.jsp
taotao-manager/taotao-manager-web/src/main/webapp/WEB-INF/JSP/common/header_offline.jsp

taotao-common/src/main/java/com/taotao/utils/Test01.java

taotao-manager/taotao-manager-web/src/main/resources/properties/FileInput.properties
